FirstProject/terraform.tfstate
FirstProject/.terraform*
FirstProject/terraform.tfstate.backup
VPC/terraform.tfstate
VPC/.terraform*
VPC/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
.terraform*
module-example3-vpc/vpc-module/terraform.tfstate
module-example3-vpc/vpc-module/terraform.tfstate.backup
module-example3-vpc/vpc-module/.terraform*
module-example4-vpc-standardized/vpc-module-std/terraform.tfstate
module-example4-vpc-standardized/vpc-module-std/terraform.tfstate.backup
module-example4-vpc-standardized/vpc-module-std/terraform.tfvars
module-example4-vpc-standardized/vpc-module-std/.terraform*
EC2/terraform.tfstate
EC2/terraform.tfstate.backup
EC2/.terraform.*
FirstProject/terraform.tfstate
FirstProject/terraform.tfstate.backup
FirstProject/.terraform.*
VPC/terraform.tfstate
VPC/terraform.tfstate.backup
VPC/.terraform.*
module-example2-db-eip-sg/terraform.tfstate
module-example2-db-eip-sg/terraform.tfstate.backup
module-example2-db-eip-sg/.terraform*
test-data-source/terraform.tfstate
test-data-source/terraform.tfstate.backup
test-data-source/.terraform*
test/terraform.tfstate
test/terraform.tfstate.backup
test/.terraform*
test1/.terraform*
test2/terraform.tfstate
test2/terraform.tfstate.backup
test2/.terraform*
test3-dynamic/terraform.tfstate
test3-dynamic/terraform.tfstate.backup
test3-dynamic/.terraform*
test4-mapslist/terraform.tfstate
test4-mapslist/terraform.tfstate.backup
test4-mapslist/.terraform*
